.item {
  margin: 1rem 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #d7edc1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item p {
  font-weight: bold;
}
.item p span {
  font-weight: normal;
  margin-left: 0.5rem;
}
